GROQ_API_KEY=gsk_suachaveaqui
GROQ_MODEL=llama-3.3-70b-versatile
ARGOS_URL=https://argos-monofloor-production.up.railway.app
GITHUB_TOKEN=ghp_seutokenaqui
GITHUB_REPO=vitormonofloor/Monofloor_Files
GITHUB_FILE=analise.html
TELEGRAM_BOT_TOKEN=8685770674:AAGAyiWrB9nDYCd-kmN8aC5otnRmCknOx2U
VITOR_CHAT_ID=8151246424
HORA_EXECUCAO=8
